.result-box {
    background-color: #a39d9d;
    padding: 20px;
    height: 20vh;
    width: 30vw;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
  }
  
  .result-header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .result-summary {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .restart-button {
    padding: 8px 16px;
    background-color: red;
    border: none;
    border-radius: 9px;
    color: white;
    cursor: pointer;
    outline: none;
  }
  